<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DZSDWebImageQuest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5BE67C0C1F01FF7E00F2A332</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BE67C251F01FF7F00F2A332</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BE67C301F01FF7F00F2A332</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
